{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block content %}
    <div class="justify-content-md-center row">
        <div class="col col-md-9 col-lg-8 col-xl-7">
            {#{{ formset }}#}
            <h1>Cart</h1>
            {% if formset.forms %}
                <form method="post" action="{% url "profile_cart" %}" class="form-inline">
                    {% csrf_token %}
                    <table class="table table-hover text-right">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Article</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cartitem in formset %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td><a href="#">{{ cartitem.instance.product.name }}</a></td>
                                <td>{{ cartitem.instance.price_snapshot }}&nbsp;kr</td>
                                <td>
                                    <input class="input-group-addon form-control"
                                           value="{{ cartitem.quantity.value|default_if_none:"" }}"
                                           type="number" title="{{ cartitem.quantity.label }}"
                                           min="1"
                                           {% if cartitem.instance.product.inventory <= 0 %}
                                               max="{{ cartitem.instance.product.inventory }}"
                                           {% endif %}
                                           name="{{ cartitem.quantity.html_name }}"/>
                                </td>
                                <td>
                                    {{ cartitem.instance.total_cost }}&nbsp;kr
                                    {{ cartitem.id }}
                                </td>
                                <td>
                                    {{ cartitem.DELETE }}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <th scope="row" colspan="5" class="text-right">
                                Total cost: <br>
                                {{ cart.items.cart_cost|default_if_none:"0" }}&nbsp;kr
                            </th>
                        </tr>
                        </tbody>
                    </table>
                    {{ formset.management_form }}
                    <div class="ml-auto">
                        <input type="submit" value="Update cart" class="btn btn-secondary">
                        <a href="{% url "shop_checkout" %}" class="btn btn-primary text-light">Buy</a>
                    </div>
                </form>
            {% else %}
                <div>
                    Cart is empty
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}