{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block content %}
    <div class="justify-content-md-center row">
        <div class="col col-md-9 col-lg-8 col-xl-7">

            <h1>Cart</h1>
            <table class="table table-hover text-right">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Article</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cartitem in cart.cartitem_set.all %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><a href="#">{{ cartitem.product.name }}</a></td>
                            <td>{{ cartitem.price_snapshot }} SEK</td>
                            <td>{{ cartitem.quantity }}</td>
                            <td>{{ cartitem.total_cost }} SEK</td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <th scope="row" colspan="5" class="text-right">{{ cart.items.cart_cost }} SEK</th>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}