{% extends "base.html" %}

{% block title %}Edit profile{% endblock %}

{% block content %}
    <div class="justify-content-md-center row">
        <div class="border rounded pb-2 bg-white col col-md-6 col-lg-4 col-xl-3">
            {% if form.errors %}
                <div class="alert alert-danger mt-3" role="alert">Your username and password didn't match. Please try
                    again.
                </div>
            {% endif %}

            <form method="post" action="{% url 'edit_profile' %}">
                {% csrf_token %}
                <h1>Change profile</h1>
                <div class="form-group">
                    <label class="col-form-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    <input class="form-control" id="{{ form.email.id_for_label }}" maxlength="254"
                           name="{{ form.email.html_name }}" type="text" placeholder="{{ form.email.label }}" value="{{ form.email.value|default_if_none:"" }}"/>
                    {% if form.email.help_text %}
                        <small class="form-text">{{ form.email.help_text|safe }}</small>
                    {% endif %}
                    {{ form.email.errors }}
                </div>
                <div class="form-group">
                    <h2>Personal info</h2>

                    <label class="col-form-label"
                           for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}</label>
                    <input class="form-control" id="{{ form.phone_number.id_for_label }}" maxlength="254"
                           name="{{ form.phone_number.html_name }}" type="text"
                           placeholder="{{ form.phone_number.label }}" value="{{ form.phone_number.value|default_if_none:"" }}"/>
                    {{ form.phone_number.errors }}
                </div>
                <div class="form-group">
                    <h2>Address</h2>

                    <label class="col-form-label" for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
                    <input class="form-control" id="{{ form.address.id_for_label }}" maxlength="254"
                           name="{{ form.address.html_name }}" type="text" placeholder="{{ form.address.label }}" value="{{ form.address.value|default_if_none:"" }}"/>
                    {{ form.address.errors }}

                    <label class="col-form-label" for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
                    <input class="form-control" id="{{ form.city.id_for_label }}" maxlength="254"
                           name="{{ form.city.html_name }}" type="text" placeholder="{{ form.city.label }}" value="{{ form.city.value|default_if_none:"" }}"/>
                    {{ form.city.errors }}

                    <label class="col-form-label"
                           for="{{ form.zip_code.id_for_label }}">{{ form.zip_code.label }}</label>
                    <input class="form-control" id="{{ form.zip_code.id_for_label }}" maxlength="254"
                           name="{{ form.zip_code.html_name }}" type="text" placeholder="{{ form.zip_code.label }}" value="{{ form.zip_code.value|default_if_none:"" }}"/>
                    {{ form.zip_code.errors }}
                </div>
                <input class="btn btn-primary" type="submit" value="Save"/>
                <a href="{% url "password_change" %}" class="btn btn-secondary">Change password</a>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </div>
    </div>
{% endblock %}