{% extends "base.html" %}

{% block title %}Change password{% endblock %}

{% block content %}
    <div class="justify-content-md-center row">
        <div class="border rounded pb-2 bg-white col col-md-6 col-lg-4 col-xl-3">
            {% if form.errors %}
                <div class="alert alert-danger mt-3" role="alert">Your username and password didn't match. Please try
                    again.
                </div>
            {% endif %}

            <form method="post" action="{% url 'password_change' %}">
                {% csrf_token %}
                <h1>Change profile</h1>
                <div class="form-group">
                    <label class="col-form-label"
                           for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
                    <input class="form-control" id="{{ form.old_password.id_for_label }}" maxlength="254"
                           name="{{ form.old_password.html_name }}" type="password"
                           placeholder="{{ form.old_password.label }}"/>
                    {{ form.old_password.errors }}
                </div>
                <div class="form-group">
                    <label class="col-form-label"
                           for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
                    <input class="form-control" id="{{ form.new_password1.id_for_label }}" maxlength="254"
                           name="{{ form.new_password1.html_name }}" type="password"
                           placeholder="{{ form.new_password1.label }}"/>
                    {{ form.new_password1.errors }}
                    <label class="col-form-label"
                           for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
                    <input class="form-control" id="{{ form.new_password2.id_for_label }}" maxlength="254"
                           name="{{ form.new_password2.html_name }}" type="password"
                           placeholder="{{ form.new_password2.label }}"/>
                    {{ form.new_password2.errors }}
                </div>
                <input class="btn btn-primary" type="submit" value="Save"/>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </div>
    </div>
{% endblock %}