{% extends "shop/shop_base.html" %}

{% block title %}Shop{% endblock %}

{% block shop %}
<h1>Items</h1>
<div class="card-columns row">
{% for product in category.product_set.all %}
    <div class="col col-12 col-md-6 col-lg-6 col-xl-4">
        <div class="card">
{#          <img class="card-img-top" src="#" alt="Card image cap">#}
            <div class="card-body">
                <h4 class="card-title"><a href="{% url "shop_detail" product.pk %}">{{ product.name }}</a></h4>
                <p class="card-text">{{ product.description }}</p>
            </div>
            <div class="card-footer text-right">
                <div class="row">
                    <div class="col col-4">{{ product.price }}&nbsp;kr</div>
                    <div class="btn-group col col-8 row" role="group" aria-label="Buy amount">
                        <a href="{% url 'shop_add_to_cart' product.pk %}" class="btn btn-primary col col-4">Buy</a>
                        <input type="number" class="form-control col col-8">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}