<form method="get" action="{{ request.get_full_path }}" class="form-inline pb-2">
<div class="input-group">
    <select class="form-control" name="ordering" title="Select product ordering">
        <option value="name"
                {% if request.GET.ordering == 'name' %}
                selected="selected"
                {% endif %}
        >Name
        </option>
        <option value="-name"
                {% if request.GET.ordering == '-name' %}
                selected="selected"
                {% endif %}
        >Name asc.
        </option>
        <option value="price"
                {% if request.GET.ordering == 'price' %}
                selected="selected"
                {% endif %}
        >Cheapest
        </option>
        <option value="-price"
                {% if request.GET.ordering == '-price' %}
                selected="selected"
                {% endif %}
        >Most expensive
        </option>
    </select>
    <span class="input-group-btn">
        <input type="submit" value="Change order" class="btn btn-primary">
    </span>
</div>
</form>