{% extends "base.html" %}

{% block content %}
<div class="row col col-12">
    <div class="col col-12 col-lg-3">
        <h1>Categories</h1>
        <div class="list-group">
        {% for category in categories %}
            {% url 'shop_category' pk=category.pk as shop_category %}
            <a href="{% url "shop_category" category.pk %}" class="list-group-item list-group-item-action{% if shop_category in request.get_full_path %} active{% endif %}">
                {{ category }}
            </a>
        {% endfor %}
        </div>
    </div>
    <div class="col col-12 col-lg-9">
        {% block shop %}{% endblock %}
    </div>
</div>
{% endblock %}