{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css"/>
    <title>{% block title %}{% endblock %} - ShopStore</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "app.css" %}">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ShopStore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {% url 'home' as home_url %}
            <li class="nav-item{% if request.get_full_path == home_url %} active{% endif %}">
                <a class="nav-link" href="{% url "home" %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% url 'shop' as shop_url %}
            <li class="nav-item{% if shop_url in request.get_full_path %} active{% endif %}">
                <a class="nav-link" href="{% url "shop" %}">Shop</a>
            </li>
            <li class="nav-item dropdown{% if request.get_full_path == home_url %} active{% endif %}">
                <a class="nav-link dropdown-toggle{% if request.get_full_path == home_url %} active{% endif %}" href="#"
                   id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Orders</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item btn-danger" href="#">Logout</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% url 'shop' pk as shop_url %}
            <li class="nav-item{% if request.get_full_path == shop_url %} active{% endif %}">
                <a class="nav-link" href="#">
                    Cart <span class="badge badge-light">4</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div id="container">
    {% block content %}{% endblock %}
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</html>